// Theme's Palette
@import("C:/Users/ASUS/Desktop/MyWeb/MyBlog/node_modules/vuepress-theme-reco/styles/palette.styl")

// User's Palette
@import("C:/Users/ASUS/Desktop/MyWeb/MyBlog/docs/.vuepress/styles/palette.styl")